html 
    head 
        title List 
    body 
        ol(type='I')
            li(style='color:blue;background-color:black') React 
            li Express 
            li Node 
            li Mongodb 
        div(style='background-color:red;color:white')
            |This is division part content
            |This is division part content 
            |This is division part conten 
            |This is division part conten 
            |This is division part conten 
            |This is division part content.